body
{
    background-image: url(http://img0.mxstatic.com/wallpapers/6cba18f8e9c95b677bcc999c1e73e496_large.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.head_text
{
    color: gray;
    font-family: sans-serif;
}

.box
{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    background-color: #fff;
    opacity: 0.7;
    border: #fff;
    border-radius: 40px;
}

#head_fistpage
{
    background-color: black;
    margin-left: 50%;
    margin-top: 90px;
    border: black;
    border-radius: 40px;
}

